/* 1025-1280px */

@media screen and (max-width: 1280px) {

	/* --- Основные стили --- */

	body {
		font-size: 30px;
	}

	h1 {
		font-size: 80px;
	}

	h2 {
		font-size: 60px;
	}

	h3 {
		font-size: 45px;
	}

	h4 {
		font-size: 36px;
	}

	.container {
		width: 90%;
	}


	/* Доп. стил */

	.btn, .btn-o {
		width: 300px;
		padding: 20px 0 23px;
	}

	/* --- Первый экран --- */

	.nav {
		position: fixed;
		width: calc(100% - 200px);
		left: 0;
		top: 0;
		z-index: 2;
		padding: 25px 100px;
		background: rgba(255, 255, 255, .8);
		border-bottom: 1px solid rgba(0, 0, 0, .5);
	}

	.header__burger-menu {
		display: block;
		margin: 0 25px 0 auto;
	}

	.header__menu {
		display: none;
		/*width: 100%;*/
		text-align: center;
		background: rgba(255, 255, 255, .8);
		border-bottom: 1px solid rgba(0, 0, 0, .5);
		width: 100%;
	}

	.header__menu a {
		font-size: 30px;
	}

	.tel__img {
		width: 45px;
	}

	.tel__num {
		line-height: 49px;
	}

	.hero {
		text-align: center;
		-webkit-flex-direction: column-reverse;
		-moz-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		-o-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}

	.offer__title {
		width: 80%;
		margin: 0 auto;
	}

	.offer__des {
		max-width: 100%;
		margin: 4% 0;
	}

	.btn, .btn-o {
		margin: 5% auto;
	}

	.btn {
		margin-bottom: 2%;
	}

	.btn-o {
		position: static;
	}

	.header__img {
		width: 75%;
	}

	/* --- О студии --- */

	.about-info {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}

	.adv__list {
		width: 90%;
	}

	.adv__img {
		height: 100%;
	}


	.about-cont .info {
		margin: 0;
	}

	.about-info__title-main, .about-info__title-second {
		text-align: center;
	}

	/* --- Услуги и цены --- */

	.company__info {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}

	.company__title {
		margin: 5% 0;
	}

	.company__img {
		margin-bottom: 4%;
		width: 100%;
	}

	.company__img {
		margin: 3% 0;
	}

	.company__serv {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}

	.service {
		margin: 0 auto 5%;
		width: 65%;
	}

	.service__img {
		width: 100%;
		height: 100%;
	}

	.service__price {
		max-width: 175px;
    	padding: 19px 0;
	}

	.service__item {
		-webkit-background-size: 36px 36px;
		background-size: 36px 36px;
		padding-left: 60px;
	}
	
	/* --- Дента-косметика --- */

	.product {
		width: 65%;
		margin: 0 auto 5%;
		padding-bottom: 3%;
	}

	.product__price {
		max-width: 175px;
 		padding: 19px 0;
	}

	.owl-next, .owl-prev {
		margin-top: -75px;
	}

	.owl-prev span, .owl-next span {
		font-size: 125px;
	}

	/* --- Вопрос-ответ --- */

	.answer-row {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}

	.answer-row .wrap {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		width: 100%;
		margin-bottom: 7%;
	}

	.answers .collapse[open] p {
		font-size: 30px;
	}

	.answer__img {
		width: 50%;
	}

	.collapse .more .fa-angle-down {
		font-size: 34px;
	}	

	/* --- Контакты --- */

	.contact-cont {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}

	.contact-links, .form {
		max-width: 90%;
		margin-top: 5%;
	}

	.form {
		background: url(../img/form.png) no-repeat center top / cover;
		width: 80%;
	}

	.form__title {
		font-size: 46px;
	}

	.contact-links img {
		width: 75px;
		height: 75px;
	}

	.loc, .mail {
		padding: 30px 100px;
		-webkit-background-size: 75px;
		background-size: 75px;
	}

	#mymap {
		width: 100% !important;
	}
	
	/* --- Подвал --- */

	.f-bottom {
		-webkit-flex-direction: column-reverse;
		-moz-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		-o-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}

	.author {
		margin-bottom: 4%;	
	}

	.footer .menu, .footer__menu {
		display: block;
		text-align: center;
	}

	.footer .menu li, .footer__menu li {
		margin-bottom: 4%;
	}

	.fa-arrow-right {
		right: -50px;
	}

	/* Кнопка */

	.up {
		width: 100px;
		height: 100px;
	}

	.fa-arrow-up {
		line-height: 100px;
		font-size: 40px;
	}
}



/* ...-1024px */

@media screen and (max-width: 1024px) {

	/* --- Подвал --- */

	.footer__menu {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		text-align: center;
	}

	.footer__menu li {
		margin: 0 0 4% 0;
	}
}